
<!-- <div class="panel panel-default">
  <div class="panel-heading"> -->
    <small><strong><%=answer.user.email%> respondió <%=time_ago_in_words(answer.created_at)%></strong></small>
  <!-- </div> -->
  <!-- <div class="panel-body"> -->
    <%= answer.body %>
  <!-- </div>
</div> -->
