<%= form_for [@question, @question.answers.build] do |f| %>
  <div class="form-group comment-form">
    <%= f.text_area :body, class: "form-control", placeholder: "Agregar tu respuesta" %>
  </div>
    <%= f.submit "Responder", class: "btn btn-primary commentbutton"%>
<%end%>
